<!-- views/partials/footer.ejs -->

<td class="col-md-6">
  &copy; DirTy™ All Rights Reserved. <a target="_top" href="mailto:pkt2514@gmail.com"> pkt2514@gmail.com</a></br>
  <a target="_blank" href="http://ddirty.tistory.com"> http://ddirty.tistory.com</a>
</td>
